:root {
    --radius: 5px;
    --padding: 20px;
    --margin: 25px;
}

.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator {
    width: 480px;
    height: auto;
    border: 1px solid black;
    border-radius: var(--radius);
}

.display {
    width: auto;
    min-height: 70px;
    word-wrap: break-word;
    text-align: right;
    font-size: xx-large;
    border: 1px solid black;
    border-radius: var(--radius);
    padding: var(--padding);
    margin: var(--margin);
}

.display .secondary {
    font-size: 14px;
}

.keypad {
    border: 1px solid black;
    border-radius: var(--radius);
    padding: var(--padding);
    margin: var(--margin);
}

.display-controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}

.display-controls button {
    width: 190px;
    height: 50px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.buttons button {
    margin-top: 10px;
    width: 90px;
    height: 50px;
}
